/WebProg_Ex_Big_New/nbproject/private/
/WebProg_Ex_Big_New/WebProg_Ex_Big_New-war/nbproject/private/
/WebProg_Ex_Big_New/WebProg_Ex_Big_New-ejb/nbproject/private/
/WebProg_Ex_Big_New/build/
/WebProg_Ex_Big_New/WebProg_Ex_Big_New-war/build/
/WebProg_Ex_Big_New/WebProg_Ex_Big_New-war/dist/
/WebProg_Ex_Big_New/WebProg_Ex_Big_New-ejb/build/
/WebProg_Ex_Big_New/WebProg_Ex_Big_New-ejb/dist/
/WebProg_Ex_Big_New/dist/